<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/board.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>
<body th:replace="~{layout::layout}">
    <div th:fragment="content">
        <table id="customers">
            <thead>

                <td>크루명 : [[${vo2.name}]]</td>
            <tr>
                <td>활동지역 : [[{vo2.sido}]]</td>
                <td>크루유형 : [[{vo2.sche}]]</td>
                <td>크루등급 : [[{vo2.grade}}]]</td>
                <td>크루장 : [[{vo2.leader_nickname}]]</td>
            </tr>
           

            </thead>
            <tbody>

            </tbody>
            <tfoot>
            <td>
                <a th:href="@{/crewjoin/join(cnum=${param.cnum})}">가입하기</a>
            </td>
            </tfoot>
  </table>

    </div>
</body>
</html>