<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>코스 목록</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <style>
        .main-content, footer {
            padding: 100px;
        }

        .table th, .table td {
            text-align: center;
            vertical-align: middle;
        }

        .table thead th {
            background-color: #f8f9fa;
        }
    </style>
</head>
<body>
<header>
    <nav th:replace="~{top_menu :: top_menu}"></nav>
</header>
<!-- 메인 콘텐츠 영역 -->
<div class="main-content">
    <div class="container">
        <h1>코스 목록</h1>
        <form method="get" th:action="@{/cos/searchList}">
            <table id="search_form">
                <tr>
                    <td>
                        <select name="searchKey">
                            <option value="cos_name">코스이름</option>
                            <option value="city">지역</option>
                            <option value="km">거리(km)</option>
                        </select>
                        <input type="text" name="searchWord" value="한강">
                        <input type="submit" value="search">
                    </td>
                </tr>
            </table>
        </form>

        <table class="table table-bordered table-striped table-hover mt-3">
            <thead>
            <tr>
                <th>No.</th>
                <th>작성자</th>
                <th>코스이름</th>
                <th>지역</th>
                <th>거리</th>
                <th>소요시간</th>
                <th>찜 수</th>
                <th>리뷰 수</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="vo : ${vos}">
                <tr>
                    <td><a th:href="@{/cos/selectOne(cos_num=${vo.cos_num})}">[[${vo.cos_num}]]</a></td>
                    <td>[[${vo.nickname}]]</td>
                    <td><a th:href="@{/cos/selectOne(cos_num=${vo.cos_num})}">[[${vo.cos_name}]]</a></td>
                    <td>[[${vo.city}]]</td>
                    <td>[[${vo.km}]]</td>
                    <td>[[${vo.cos_time}]]</td>
                    <td>[[${vo.like_count}]]</td>
                    <td>[[${vo.review_count}]]</td>
                </tr>
            </th:block>
            </tbody>
            <tfoot>
            <tr th:if="${param.searchKey == null}">
                <td colspan="9">
                    <th:block th:each="i : ${#numbers.sequence(1,pageCount)}">
                        <a th:href="@{/cos/selectAll(cpage=${i},limit=10)}">[[${i}]]</a>
                    </th:block>

                </td>
            </tr>
            <tr th:if="${param.searchKey != null}">
                <td colspan="9">
                    <th:block th:each="i : ${#numbers.sequence(1,pageCount)}">
                        <a th:href="@{/cos/searchList(cpage=${i},limit=10,searchKey=${param.searchKey},searchWord=${param.searchWord})}">[[${i}]]</a>
                    </th:block>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<footer>
    <div th:replace="~{footer :: footer}"></div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
