<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>이벤트 관리목록</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <style>
        .main-content, footer {
            padding: auto;
            margin-top: 100px;
        }

        .table th, .table td {
            text-align: center;
            vertical-align: middle;
        }

        .table thead th {
            background-color: #f8f9fa;
        }

        .container h1 {
            text-align: center;
        }
    </style>
</head>
<body>
<header>
    <nav th:replace="~{top_menu :: top_menu}"></nav>
</header>
<!-- 메인 콘텐츠 영역 -->
<div class="main-content">
    <div class="container">
        <h1>이벤트 관리목록</h1>
        <a th:href="@{/event/insert}" class="btn btn-danger">이벤트 등록</a>
        <a th:href="@{/event/participantList}" class="btn btn-danger">이벤트 참가자 명단 -> 이거는 이벤트 제목 눌렀을 때 볼 수 있도록 하는거 어떨까요?</a>


        <form method="get" th:action="@{/event/selectAll}">

        </form>

        <table class="table table-bordered table-striped table-hover mt-3">
            <thead>
            <tr>
                <th>num</th>
                <th>title</th>
                <th>게시 상태(공개/비공개)</th>
                <th>이벤트 상태(진행/종료)</th>
                <th>이벤트 기간</th>
                <th>모집상태(모집중/마감)</th>
                <th>신청인원</th>
                <th>모집기간</th>
                <th>삭제버튼자리</th>
                <th>승인버튼자리</th>
                <th>승인날짜</th>
                <th>요청일자</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="vo : ${vos}">
                <tr>

                </tr>
            </th:block>
            </tbody>
            <tfoot>
            <tr th:if="${param.searchKey == null}">
                <td colspan="8">
                    <a th:href="@{/event/selectAll(cpage=1,limit=10)}">1</a>
                    <a th:href="@{/event/selectAll(cpage=2,limit=10)}">2</a>
                    <a th:href="@{/event/selectAll(cpage=3,limit=10)}">3</a>
                </td>
            </tr>
            <tr th:if="${param.searchKey != null}">
                <td colspan="8">
                    <a th:href="@{/event/searchList(cpage=1,limit=10,searchKey=${param.searchKey},searchWord=${param.searchWord})}">1</a>
                    <a th:href="@{/event/searchList(cpage=2,limit=10,searchKey=${param.searchKey},searchWord=${param.searchWord})}">2</a>
                    <a th:href="@{/event/searchList(cpage=3,limit=10,searchKey=${param.searchKey},searchWord=${param.searchWord})}">3</a>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<footer>
    <div th:replace="~{footer :: footer}"></div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
