<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>이벤트 관리목록</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <style>
        .main-content, footer {
            padding: auto;
            margin-top: 100px;
        }

        .table th, .table td {
            text-align: center;
            vertical-align: middle;
        }

        .table thead th {
            background-color: #f8f9fa;
        }

        .container h1 {
            text-align: center;
        }
    </style>
</head>
<body>
<header>
    <nav th:replace="~{top_menu :: top_menu}"></nav>
</header>
<!-- 메인 콘텐츠 영역 -->
<div class="main-content">
    <div class="container">
        <h1>이벤트 관리목록</h1>
        <a th:href="@{/event/insert}" class="btn btn-danger">이벤트 등록</a>

        <table class="table table-bordered table-striped table-hover mt-3">
            <thead>
            <tr>
                <th>이벤트번호</th>
                <th>제목</th>
                <th>장소</th>
                <th>상품</th>
                <th>이벤트 기간</th>
                <th>신청인원</th>
                <th>이벤트 타입</th>
                <th>이미지</th>
                <th>삭제</th>

            </tr>
            </thead>
            <tbody>
            <th:block th:each="vo : ${vos}">
                <tr>
                    <td>[[${vo.num}]]</td>
                    <td><a th:href="@{/event/update(num=${vo.num})}">[[${vo.title}]]</a></td>
                    <td>[[${vo.city}]]</td>
                    <td>[[${vo.prize}]]</td>
                    <td>[[${vo.dur}]]</td>
                    <td>[[${vo.partici_num}]]</td>
                    <td>[[${vo.event_type}]]</td>
                    <td>[[${vo.img_name}]]</td>
                    <td><a th:href="@{/event/delete(num=${vo.num})}">
                        <button type="button">삭제</button>
                    </a>
                    </button></td>

                </tr>
            </th:block>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="8">
                    <th:block th:each="i : ${#numbers.sequence(1,pageCount)}">
                        <a th:href="@{/event/eventManagement(cpage=${i},limit=10)}">[[${i}]]</a>
                    </th:block>
                </td>
            </tr>

            </tfoot>
        </table>
    </div>
</div>
<footer>
    <div th:replace="~{footer :: footer}"></div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
