<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>진행 이벤트</title>
    <link rel="stylesheet" th:href="@{/css/board.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <style>
        body {
            background-color: #f5f5f5;
        }
        .event-card {
            max-width: 600px;
            height: auto;
            margin: 100px auto;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 12px rgba(0,0,0,0.1);
            background-color: #ffffff;
        }
    </style>
</head>
<body th:replace="~{layout::layout}">
<div th:fragment="content">
    <h1>진행 이벤트</h1>

    <div class="event-card">
        <img th:src="@{'/uploadimgPath/' + ${vo2.img_name}}" class="card-img-top" alt="이미지">
        <div class="card-body">
            <h5 class="card-title" th:text="${vo2.event_type}">이벤트 종류</h5>
            <p class="card-text">
                <span th:text="${vo2.city}">서울</span>
                참여 인원 수 <span th:text="${vo2.partici_num}">00</span>명<br>
                기간: <span th:text="${vo2.dur}">2025.12.34 ~ 2025.12.34</span>
            </p>
            <a th:href="@{/event/applyDone(num=${vo2.num})}" class="btn btn-primary">참가</a>
        </div>
    </div>
</div>
</body>
</html>
