<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/board.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>
<body>
    <div>
        <h2>친구 요청 목록</h2>
        <tbody>
            <th:block th:each="vo : ${vos}">
                <tr>
                    <td>친구 1</td>
                    <td><input type="submit" value="수락"></td>
                    <td><input type="submit" value="거절"></td>
                </tr>
            </th:block>
        </tbody>
    </div>
</body>
</html>