<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>크루 목록</title>
    <link rel="stylesheet" th:href="@{/css/board.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>
<body th:replace="~{layout::layout}">
<div th:fragment="content" class="container mt-5">
    <h1>크루 목록</h1>

    <form method="get" th:action="@{/crew/searchList}" class="mb-4">
        <table id="search_form" class="table table-bordered">
            <tr>
                <td>
                    <select name="searchKey" class="form-control">
                        <option value="title">크루이름</option>
                        <option value="content">sche_check</option>
                    </select>
                </td>
                <td><input type="text" name="searchWord" th:value="${param.searchWord}" class="form-control"></td>
                <td><input type="submit" value="search" class="btn btn-primary"></td>
            </tr>
        </table>
    </form>

    <table id="crew" class="table table-striped">
        <thead>
        <tr>
            <th>번호</th>
            <th>크루명</th>
            <th>모집인원</th>
            <th>정기일정</th>
            <th>크루장 닉네임</th>
            <th>크루평점</th>
            <th>크루등급</th>
            <th>가입</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="vo : ${vos}">
            <tr>
                <td><a th:href="@{../crew/selectOne(cnum=${vo.cnum})}">[[${vo.cnum}]]</a></td>
                <td><a th:href="@{../crew/selectOne(cnum=${vo.cnum})}">[[${vo.name}]]</a></td>
                <td>[[${vo.recruit}]]</td>
                <td>[[${vo.sche}]]</td>
                <td>[[${vo.leader_nickname}]]</td>
                <td>[[${vo.score}]]/5</td>
                <td>[[${vo.grade}]]</td>
                <td><button class="btn-custom"><a th:href="@{../crewjoin/selectOne(cnum=${vo.cnum})}" style="color: white;">가입</a></button></td>
            </tr>
        </th:block>
        </tbody>
        <tfoot>
        <tr th:if="${param.searchKey == null}">
            <td colspan="10">
                <div class="pagination justify-content-center">
                    <a th:href="@{/crew/selectAll(cpage=1,limit=10)}" class="page-link">1</a>
                    <a th:href="@{/crew/selectAll(cpage=2,limit=10)}" class="page-link">2</a>
                    <a th:href="@{/crew/selectAll(cpage=3,limit=10)}" class="page-link">3</a>
                </div>
            </td>
        </tr>
        <tr th:if="${param.searchKey != null}">
            <td colspan="10">
                <div class="pagination justify-content-center">
                    <a th:href="@{/crew/searchList(cpage=1,limit=10,searchKey=${param.searchKey},searchWord=${param.searchWord})}" class="page-link">1</a>
                    <a th:href="@{/crew/searchList(cpage=2,limit=10,searchKey=${param.searchKey},searchWord=${param.searchWord})}" class="page-link">2</a>
                    <a th:href="@{/crew/searchList(cpage=3,limit=10,searchKey=${param.searchKey},searchWord=${param.searchWord})}" class="page-link">3</a>
                </div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
</body>
</html>
