<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/board.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>

<body th:replace="~{layout::layout}">
    <div th:fragment="content">
        <h1>크루 상세 페이지</h1>
        <div class="text-center mb-4">
            <img th:src="@{'/uploadimgPath/' + ${vo2.img_name}}" alt="대표 이미지" style="max-width: 200px; border-radius: 10px;">
        </div>
        <table id="crew">
            <thead>
            <tr>
                    <th>크루번호</th>
                    <th>크루명</th>
                    <th>모집인원</th>
                    <th>sche</th>
                    <th>평점</th>
                    <th>크루장</th>
                    <th>크루등급</th>
                    <th>정기일정유무</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>[[${param.cnum}]]</td>
                    <td>[[${vo2.name}]]</td>
                    <td>[[${vo2.recruit}]]</td>
                    <td>[[${vo2.sche}]]</td>
                    <td>[[${vo2.score}]]</td>
                    <td>[[${vo2.leader_nickname}]]</td>
                    <td>[[${vo2.grade}]]</td>
                    <td>[[${vo2.sche_check}]]</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">
                        <a th:href="@{/crewboard/selectAll(cpage=1,limit=10,cnum=${param.cnum})}">게시판</a>

                        <a th:href="@{/crew/update(cnum=${param.cnum})}">수정</a>
                        <a th:href="@{/crew/delete(cnum=${param.cnum})}">삭제</a>
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>
</body>
</html>