<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자등록</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <style>
        .main-content, footer {
            padding: 100px;
        }
         body {
             background-color: #f8f9fa;
         }

        .loginSuccess-card {
            max-width: 500px;
            margin: 150px auto;
            padding: 30px;
            border-radius: 10px;
            background-color: #ffffff;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        .btn-space {
            margin: 10px;
        }
    </style>
</head>
<body>
<header>
    <nav th:replace="~{top_menu :: top_menu}"></nav>
</header>
<!-- 메인 콘텐츠 영역 -->
<div class="main-content">
    <div class="loginSuccess-card">
        <h1>관리자등록 완료!</h1>
        <input type="submit" value="관리자 목록페이지로 이동" onclick="location.href='/user/adminSelectAll';">
    </div>
</div>
<footer>
    <div th:replace="~{footer :: footer}"></div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>