<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/board.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>
<body th:replace="~{layout::layout}">
    <div th:fragment="content">
        <h1>회원가입</h1>
        <form action="insertOK" method="post">
        
            <label>ID
                <input type="text" name="id">
                <button type="button">중복체크</button>
            </label>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">@</span>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <br><br>

            <label>이메일
            <input type="email" name="email">
            <button type="button">중복체크</button>
            </label>
            <br><br>

            <label>비밀번호
            <input type="text" name="pw">
            </label>
            <br><br>

            <label>비밀번호 확인
            <input type="password" name="pwConfirm">
            </label>
            <br><br>

            <label>닉네임
            <input type="text" name="nickname">
            <button type="button">중복체크</button>
            </label>
            <br><br>

            <label>생년월일
            <input type="text" name="birth_year" placeholder="20020125" size="8">
            </label>
            <br><br>

            <label>성별
            <input type="radio" name="gender" value="M"> 남자
            <input type="radio" name="gender" value="F"> 여자
            </label>
            <br><br>

            <label>전화번호
            <select name="carrier">
                <option>통신사</option>
                <option>KT</option>
                <option>SKT</option>
                <option>LG</option>
            </select>
            <input type="text" name="tel" size="3" value="010">
            <input type="text" name="phone2" size="4">
            <input type="text" name="phone3" size="4">
                    <td colspan="2">공개 여부:
                        <input type="radio" id="public" name="tel_open" value="open" checked>
                        <label for="public">공개</label>
                        <input type="radio" id="private" name="tel_open" value="close">
                        <label for="private">비공개</label>
                    </td>
            </label>
            <br><br>


            <label>거주지역
            <select name="sido">
                <option>경기도(선택)</option>
                <option>서울특별시</option>
                <option>부산광역시</option>
            </select>
            <select name="sigungu">
                <option>수원시(선택)</option>
                <option>용인시</option>
                <option>성남시</option>
            </select>
            </label>
            <br><br>

            <label>라이딩경력
            <input type="text" name="riding_year">
            </label>
            <br><br>

            <!-- 프로필 사진 -->
            <fieldset>
            <legend>프로필사진</legend>
            <div style="width:150px; height:150px; border:1px solid #000;"></div>
            <br>
            <label for="fileUpload">
                <button type="button">사진 업로드</button>
            </label>
            <input type="file" id="fileUpload" style="display:none;">
            </fieldset>
            <br><br>

            <button type="submit">완료</button>
        </form>
    </div>
</body>
</html>