<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/board.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>
<body th:replace="~{layout::layout}">
    <div th:fragment="content">
        <h1>회원가입</h1>
        <form action="insertOK" method="post">
        

            <div class="input-group mb-3">
                <span class="input-group-text" name="id">아이디</span>
                <input type="text" class="id" placeholder="id" aria-label="id" aria-describedby="basic-addon1">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">중복체크</button>
            </div>
            <br>
            <div class="input-group mb-3">
                <span class="input-group-text" name="email">이메일</span>
                <input type="text" class="email" placeholder="email" aria-label="email" aria-describedby="basic-addon1">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">중복체크</button>
            </div>
            <br>
            <div class="input-group mb-3">
                <span class="input-group-text" name="pw">비밀번호</span>
                <input type="text" class="pw" placeholder="pw" aria-label="pw" aria-describedby="basic-addon1">
            </div>
            <br>
            <div class="input-group mb-3">
                <span class="input-group-text" name="pwConfirm">비밀번호 확인</span>
                <input type="password" class="pwConfirm" placeholder="pwConfirm" aria-label="pwConfirm" aria-describedby="basic-addon1">
            </div>
            <br>
            <div class="input-group mb-3">
                <span class="input-group-text" name="nickname">닉네임</span>
                <input type="text" class="nickname" placeholder="nickname" aria-label="nickname" aria-describedby="basic-addon1">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">중복체크</button>
            </div>
            <br>
            <div class="input-group mb-3">
                <span class="input-group-text" name="birth_year">생년월일</span>
                <input type="text" class="birth_year" placeholder="20020125" aria-label="birth_year" aria-describedby="basic-addon1">
            </div>
            <br><br>

            <label>성별
            <input type="radio" name="gender" value="M"> 남자
            <input type="radio" name="gender" value="F"> 여자
            </label>

            <br>

            <div class="input-group">
                <span class="input-group-text">전화번호</span>
                <select class="form-select" aria-label="Default select example">
                    <option selected >통신사</option>
                    <option value="1">KT</option>
                    <option value="2">LG</option>
                    <option value="3">SKT</option>
                </select>
                <input type="text" aria-label="First name" class="form-control" value="010">
                <input type="text" aria-label="Last name" class="form-control">
                <input type="text" aria-label="Last name" class="form-control">

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="checkDefault">
                    <label class="form-check-label" for="checkDefault">
                        공개
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="checkChecked" checked>
                    <label class="form-check-label" for="checkChecked">
                        비공개
                    </label>
                </div>
            </div>
            <br><br>

            <br>
            <div class="input-group mb-3">
                <label class="input-group-text" for="sido">거주지역</label>
                <select class="form-select" name="sido">
                    <option selected> 도 (선택) </option>
                    <option value="1">경기도</option>
                    <option value="2">서울특별시</option>
                    <option value="3">부산광역시</option>
                </select>
                <select class="form-select" name="sido">
                    <option selected> 시 (선택) </option>
                    <option value="1">수원시</option>
                    <option value="2">용인시</option>
                    <option value="3">성남시</option>
                </select>
            </div>
            <br>
            <div class="input-group mb-3">
                <label class="input-group-text" for="riding_year">거주지역</label>
                <select class="form-select" name="riding_year">
                    <option selected> 년 (선택) </option>
                    <option value="1">1년</option>
                    <option value="2">2년</option>
                    <option value="3">3년</option>
                </select>
                <select class="form-select" name="riding_year">
                    <option selected> 개월 (선택) </option>
                    <option value="1">1개월</option>
                    <option value="2">2개월</option>
                    <option value="3">3개월</option>
                </select>
            </div>
            <br><br>

            <!-- 프로필 사진 -->
            <fieldset>
            <legend>프로필사진</legend>
            <div style="width:150px; height:150px; border:1px solid #000;"></div>
            <br>
            <label for="fileUpload">
                <button type="button">사진 업로드</button>
            </label>
            <input type="file" id="fileUpload" style="display:none;">
            </fieldset>
            <br><br>

            <button type="submit">완료</button>
        </form>
    </div>
</body>
</html>