<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>유저 활동기록</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }

        .main-content {
            padding: 100px;
        }

        footer {
            padding: 100px;
        }

        .table th, .table td {
            text-align: center;
            vertical-align: middle;
        }

        .table thead th {
            background-color: #f8f9fa;
        }

    </style>
</head>

<body>
<header>
    <nav th:replace="~{top_menu :: top_menu}"></nav>
</header>

<div class="main-content">
    <div class="container">
        <h1>[[${param.nickname}]] 유저 활동기록</h1>

        <!-- 탭 -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <button class="nav-link active" id="board-tab" data-bs-toggle="tab" data-bs-target="#board"
                        type="button" role="tab" aria-controls="board" aria-selected="true">게시글</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" id="comment-tab" data-bs-toggle="tab" data-bs-target="#comment"
                        type="button" role="tab" aria-controls="comment" aria-selected="false">댓글</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" id="report-tab" data-bs-toggle="tab" data-bs-target="#report"
                        type="button" role="tab" aria-controls="report" aria-selected="false">신고 내역</button>
            </li>
        </ul>

        <div class="tab-content">
            <!-- 게시글 탭 -->
            <div class="tab-pane fade show active" id="board" role="tabpanel" aria-labelledby="board-tab">
                <table class="table table-bordered table-striped table-hover mt-3">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>크루번호</th>
                        <th>제목</th>
                        <th>작성일</th>
                        <th>공지글여부</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="vo : ${crewboardList}">
                        <tr>
                            <td>[[${vo.bnum}]]</td>
                            <td>[[${vo.cnum}]]</td>
                            <td>[[${vo.title}]]</td>
                            <td>[[${vo.wdate}]]</td>
                            <td>[[${vo.notice}]]</td>
                        </tr>
                    </th:block>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="9">
                            <th:block th:if="${pageCountBoard > 0}">
                                <th:block th:each="i : ${#numbers.sequence(1, pageCountBoard)}">
                                    <a th:href="@{/user/userRecord(cpage=${i}, limit=10, nickname=${nickname}, tab='board')}">[[${i}]]</a>
                                </th:block>
                            </th:block>
                            <th:block th:if="${pageCountBoard == 0}">
                                작성한 게시글이 존재하지 않습니다.
                            </th:block>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>

            <!-- 댓글 탭 -->
            <div class="tab-pane fade" id="comment" role="tabpanel" aria-labelledby="comment-tab">
                <table class="table table-bordered table-striped table-hover mt-3">
                    <thead>
                    <tr>
                        <th>글번호</th>
                        <th>댓글</th>
                        <th>작성일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="vo : ${commentList}">
                        <tr>
                            <td>[[${vo.bnum}]]</td>
                            <td>[[${vo.content}]]</td>
                            <td>[[${vo.wdate}]]</td>
                        </tr>
                    </th:block>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="9">
                            <th:block th:if="${pageCountComment > 0}">
                                <th:block th:each="i : ${#numbers.sequence(1, pageCountComment)}">
                                    <a th:href="@{/user/userRecord(cpage=${i}, limit=10, nickname=${nickname}, tab='comment')}">[[${i}]]</a>
                                </th:block>
                            </th:block>
                            <th:block th:if="${pageCountComment == 0}">
                                작성한 댓글이 존재하지 않습니다.
                            </th:block>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <!-- 신고 내역 탭 -->
            <div class="tab-pane fade" id="report" role="tabpanel" aria-labelledby="report-tab">
                <table class="table table-bordered table-striped table-hover mt-3">
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>신고자</th>
                        <th>신고대상</th>
                        <th>신고사유</th>
                        <th>항목</th>
                        <th>처리상태</th>
                        <th>신고날짜</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="vo : ${reportList}">
                        <tr>
                            <td>[[${vo.num}]]</td>
                            <td>[[${vo.nickname}]]</td>
                            <td>[[${vo.target_nickname}]]</td>
                            <td>[[${vo.detail}]]</td>
                            <td>[[${vo.reason}]]</td>
                            <td>[[${vo.state}]]</td>
                            <td>[[${vo.rdate}]]</td>
                        </tr>
                    </th:block>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="11">
                            <th:block th:if="${pageCountReport > 0}">
                                <th:block th:each="i : ${#numbers.sequence(1, pageCountReport)}">
                                    <a th:href="@{/user/userRecord(cpage=${i}, limit=10, nickname=${nickname}, tab='report')}">[[${i}]]</a>
                                </th:block>
                            </th:block>
                            <th:block th:if="${pageCountReport == 0}">
                                신고내역이 존재하지 않습니다.
                            </th:block>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<footer>
    <div th:replace="~{footer :: footer}"></div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const urlParams = new URLSearchParams(window.location.search);
        const tab = urlParams.get('tab');

        if(tab) {
            const triggerEl = document.querySelector(`#${tab}-tab`);
            if(triggerEl) {
                const tabInstance = new bootstrap.Tab(triggerEl);
                tabInstance.show();
            }
        }
    });
</script>

</body>
</html>


