<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/board.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>
<body th:replace="~{layout::layout}">
    <div th:fragment="content">
        <h1>크루게시판 글 상세 페이지</h1>
        <form action="#" method="post" th:action="@{/crewboard/insertOK}">
            <table id="crewboard">
                <tr>
                    <td>[[${vo2.title}]]</td>
                    <td>작성자:[[${vo2.nickname}]]</td>
                    <td>작성일: [[${vo2.wdate}]]</td>
                    <td>[[${vo2.content}]]</td>

                <a th:href="@{/crewboard/selectAll(cnum=${param.cnum})}">목록</a>
                <a th:href="@{/crewboard/update(bnum=${param.bnum})}">수정</a>
                <a th:href="@{/crewboard/delete(bnum=${param.bnum},cnum=${param.cnum})}">삭제</a>

                </tr>
               
            </table>
        </form>
    </div>
</body>
</html>