<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/board.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>

<body th:replace="~{layout::layout}">
<div th:fragment="content">
    <h1>크루게시판 글 수정 페이지</h1>
    <form action="#" method="post" th:action="@{/crewboard/updateOK}">
        <table id="customers">

            <tr>
                <td><label for="bnum">글번호:</label></td>
                <td>[[${vo2.bnum}]]
                    <input type="hidden" id="bnum" name="bnum" th:value="${vo2.bnum}" >
                </td>
            </tr>
            <tr>
                <td><label for="title">제목:</label></td>
                <td>
                    <input type="text" id="title" name="title" th:value="${vo2.title}">
                </td>
            </tr>
            <tr>
                <td><label for="nickname">작성자:</label></td>
                <td>
                    <input type="text" id="nickname" name="nickname" th:value="${vo2.nickname}">
                </td>
            </tr>

            <tr>
                <td><label for="notice"></label></td>
                <td>
                    <label><input type="checkbox" id="notice"name="notice" th:value="${vo2.notice}"> 공지글 </label><br>
            </tr>

            <tr>
                <td><label for="content">내용:</label></td>
                <td>
                    <textarea name="content" id="content" rows="10" cols="30">[[${vo2.content}]]</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="수정">
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>