<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/board.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>
<body th:replace="~{layout::layout}">
    <div th:fragment="content">
        <br>
        <br>
        <br>
        <h1>[[${param.name}]] 활동 일지</h1>
        <form action="#" method="post" th:action="@{/crewrecord/selectAll}">
            <table id="customers">
                <thead>
                    <tr>
                      <th>활동일</th>
                      <th>활동한 코스</th>
                      <th>참여 크루원 수</th>
                    </tr>
                  </thead>
                <tbody>
                <th:block th:each="vo : ${vos}">
                    <tr>
                        <td>[[${vo.riding_date}]]</td>
                        <td>[[${vo.riding_cos}]]</td>
                        <td>[[${vo.member}]]</td>
                    </tr>
                </th:block>
                </tbody>
                <tfoot>
                <tr th:if="${param.searchKey == null}">
                    <td colspan="11">
                        <th:block th:each="i : ${#numbers.sequence(1,pageCount)}">
                            <a th:href="@{/crewrecord/selectAll(cpage=${i},limit=10,cnum=${param.cnum})}">[[${i}]]</a>
                        </th:block>
                    </td>
                </tr>
                </tfoot>
            </table>
        </form>
    </div>
</body>
</html>