<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>
<body th:replace="~{layout::layout}">
    <div th:fragment="content">
        <h2>댓글 수정</h2>

        <form action="#" method="post">
            <label>게시글 번호:</label>
            <input type="text" name="bnum" value="101" readonly><br><br>

            <label>작성자 닉네임:</label>
            <input type="text" name="nickname" value="유저1" readonly><br><br>

            <label>댓글 내용:</label><br>
            <textarea name="content" rows="5" cols="40">좋은 글이네요</textarea><br><br>

            <button type="submit">수정 완료</button>
            <button type="button" onclick="history.back()">취소</button>
        </form>

    </div>
</body>
</html>