<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/board.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>
<body th:replace="~{layout::layout}">
    <div th:fragment="content">
        
    <h2>댓글 삭제</h2>

    <p>정말 이 댓글을 삭제하시겠습니까?</p>

    <!-- 삭제할 댓글 정보(읽기 전용) -->
    <table border="1">
        <tr>
            <th>게시글 번호</th>
            <td>101</td>
        </tr>
        <tr>
            <th>작성자</th>
            <td>유저1</td>
        </tr>
        <tr>
            <th>댓글 내용</th>
            <td>좋은 글이네요</td>
        </tr>
        <tr>
            <th>작성일시</th>
            <td>2025-04-28</td>
        </tr>
    </table>

    <br>

    <form action="#" method="post">
        <button type="submit">삭제하기</button>
        <button type="button">취소</button>
    </form>
    </div>    
</body>
</html>